@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #000b58; */
  /* --foreground: #fff4b7; */
  /* --highlight: #006a67; */
  /* --shadow: #003161; */
  --background: #272829;
  --foreground: #fff6e0;
  --highlight: #d8d9da;
  --shadow: #61677a;
  --font-header: "Abril Fatface", sans-serif;
  --font-sub: "Aclonica", sans-serif;
  --font-body: "Amiko", sans-serif;
  --font-mono: "DM Mono", monospace;
}

/* @media (prefers-color-scheme: dark) { */
/*   :root { */
/*     --background: #0a0a0a; */
/*     --foreground: #ededed; */
/*   } */
/* } */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-body);
}

h1,
h2,
h3 {
  font-family: var(--font-header);
}

h4 {
  font-size: 1.25rem;
  font-family: var(--font-sub);
}

code,
pre {
  font-family: var(--font-mono);
}
